@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

* {
    font-family: Ubuntu !important;
    -webkit-font-smoothing: antialiased !important;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

main {
    flex: 1 0 auto;
}

footer {
    margin: 0;
    bottom: 0;
    width: 100%;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin:0;
    background: #1C24EC;
}

#link_perfil {
    width: auto !important;
    border-radius: none !important;
    font-weight: normal !important;
    font-size: 1em !important;
    padding: 0.375em !important;
    margin: 0 !important;
    background: none !important;
    outline: 0 !important;
    border: none !important;
    text-decoration: none;
    background: none;
}

#link_perfil:hover {
    background: #FF9494 !important;
} 

.a-midia {
    margin-top: 1em;
    margin-left: 1em;
    background: #FFF;
    width: auto;
    height: auto;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }

.card-header {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #1C24EC;
}

.col-lg-12 {
    margin-top: 1em;
}

.bg-color {
    min-height: 31.25em;
    max-height: auto;
    background: #1C24EC;
}

.bg-green {
    background-color: #1CEC88 !important;
}

.bg-salmon {
    background-color: #FF9494 !important;
}

.evento {
    margin-top: 8em;
}

.evento h1 {
    color: #FF9494;
}

.evento p {
    color: #FFF;
    font-size: 1.5em;
}

.evento .btn, .p-div a {
    width: 10.5em !important;
    border-radius: 0.5em !important;
    height: auto !important;
    font-weight: bolder !important;
    font-size: 1em !important;
    padding: 0.75em !important;
    margin-bottom: 2.25em !important;
    color: #1C24EC !important;
    background: #FF9494 !important;
    outline: 0 !important;
    border: none !important;
}

.evento .btn:hover, .p-div a:hover {
    background: #FF7070 !important;
}

.btn-primary-up {
    background: #FFF !important;
    font-weight: bolder !important;
    font-size: 1em !important;
    outline: 0 !important;
    color: #1C24EC !important;
    border: none !important;
    padding: 0.5em;
}

.btn-primary-up:hover {
    background: #E1E1E1 !important;
}


.card {
    width: 100%;
    margin-bottom: 2.875em;
    height: auto;
}

.patron {
    width: 80% !important;
}

.card-text, .card-title {
    text-align: center;
}

.card-text {
    color: #000;
}

.card-title {
    color: #1C24EC;
}

.header {
    background: #1C24EC;
}

.footer {
    background: #FF9494;
    color: #FFF;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-center {
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.col-h1 h1 {
    font-size: 4em
    ;
}

.col-lg-7 h1 {
    font-size: 3.125em;
}

.logo img {
    width: 10em;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav-link {
	font-weight: bold;
	color: #FFF;
}

.nav-link:hover {
    color: #FF9494;
}

.nav-link.active {
    color: #FF9494;
	cursor: default;
}

.nav-link.active img {
    width: 100%;
    height: 0.25em;
	opacity: 1.0;
}

.hover-menu {
    margin-top: 0.25em;
	opacity: 0.0;
}

.nav-display {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner {
    width: auto;
    height: 31.25em;
    padding-bottom: 3em;
}

.event-img {
    margin-top: 1.75em;
    width: auto;
    height: 28.125em;
    border-radius: 0.5em;
}

.p-div {
    margin-top: 3em;
}

.p-div p {
    text-align: justify;
    color: #000 !important;
    font-size: 1em !important;
}

.p-div h1 {
    color: #1C24EC;
}

.tab-menu {
    margin-top: 0.75em;
}

#symplaw {
    margin-top: 2em;
    min-height: 27em;
}

#sympla-widget-773723 {
    margin: auto;
}

@media (max-width: 75.5em) {
    .p-div {
        margin-left: 4.5em;
        margin-top: 2em;
    }
    .p-div h1 {
        font-size: 2.25em !important;
    }
}


@media (max-width: 69.125em) {
    .banner {
        width: 28.125em;
        height: auto;
    }
    .event-img {
        width: 28.125em;
        height: auto;
    }
}

@media (max-width: 61.938em) {

    .p-div {
        margin-left: 0;
    }

    .evento {
        margin-top: 0;
    }

    .banner {
        width: 31.25em;
        margin-top: 2em;
    }

    .event-img {
        width: 28.125em;
        margin-top: 2em;
    }

    .col-img {
        text-align: center;
    }

    .bg-color {
        min-height: auto;
    }

    .card-img-top {
        max-width: auto;
        max-height: 100%;
    }

    .card {
        width: 50% !important;
        margin-left: 25%;
    }

    .carousel-item {
        display: block !important;
    }

    .carousel-control-next, .carousel-control-prev, .carousel-indicators {
        display: none !important;
    }

    .p-div h1 {
        font-size: 3em !important;
    }
}

@media (max-width: 35.063em) {
    .banner {
        width: 100%;
        height: auto;
    }
    .event-img {
        width: 100%;
        height: auto;
    }
}


/* Testes */

.flip-card {
    perspective: 64em; /* emove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.6s;
    transform-style: preserve-3d;
}

.flip-card-front {
    position: relative;
    width: 100%;
    height: 100%;
}


